[submodule "protobufs"]
	path = protobufs
	url = https://github.com/Ixitxachitl/meshtastic-protobufs.git
	branch = message-order
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
